---
import MainLayout from "../layouts/MainLayout.astro";
import About from "../components/About.astro";
import Knowledge from "../components/Knowledge.astro";
import RandomFacts from "../components/RandomFacts.astro";
---

<MainLayout 
  title="Daniel Cordero • About me" 
  description="I'm Daniel Cordero, Frontend Developer. Here you can find information about me and my knowledge"
>
  <main>
    <h1>About me</h1>
    <About/>
    <RandomFacts />
    <Knowledge />
  </main>
</MainLayout>

<style lang="scss">
@import "../styles/colors.scss";

main {
  width: 100%;
  padding: 10rem 2rem;

  h1 {
    text-align: center;
    color: $orange-light;
  }
}
</style>