---
import MainLayout from "../layouts/MainLayout.astro";
import About from "../components/About.astro";
import Knowledge from "../components/Knowledge.astro";
import RandomFacts from "../components/RandomFacts.astro";

const randomFacts = {
  item1: "I like dogs",
  item2: "I like coffee",
  item3: "I love volleyball",
}
---

<MainLayout
  lang="en"
  title="Daniel Cordero • About me"
  description="I'm Daniel Cordero, Frontend Developer. Here you can find information about me and my knowledge"
>
  <main>
    <h1>About me</h1>
    <About
      about="I am a Frontend developer. I focus on creating websites. I am passionate about programming. Now I'm studying Analyst Programmer at Inacap university. And I also enjoy learning in an autodidact way."
      btnText="Resume"
    />
    <RandomFacts
      heading="Random Facts of me"
      randomFacts={randomFacts}
    />
    <Knowledge heading="Knowledge" headingOther="Others"/>
  </main>
</MainLayout>

<style lang="scss">
@import "../styles/colors.scss";
main {
  width: 100%;
  padding: 6.25rem 1.25rem;
  h1 {
    text-align: center;
    color: $primary;
  }
}
</style>
