---
import AboutLayout from "../layouts/AboutLayout.astro";
import KnowledgeLayout from "../layouts/KnowledgeLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import RandomFacts from "../layouts/RandomFactsLayout.astro";
---

<MainLayout title="Daniel Cordero | About me" description="About me section of my personal page. Here you can find information about me, my knowledge and random facts.">
  <main>
    <h1>About me</h1>
    <AboutLayout />
    <RandomFacts />
    <KnowledgeLayout />
  </main>
</MainLayout>

<style lang="scss">
@import "../styles/colors.scss";

main {
  width: 100%;
  padding: 4rem 2rem;

  h1 {
    text-align: center;
    color: $orange-light;
  }
}
</style>