---
import MainLayout from "../layouts/MainLayout.astro";
import Tooltip from "../components/Tooltip.vue";
---

<MainLayout
  lang="en"
  title="Daniel Cordero • Contact"
  description="I'm Daniel Cordero, Frontend Developer. Here you can see my contact and how to reach me on social networks"
>
  <main>
    <h1>Let's talk?</h1>
    <section>
      <div class="list-container">
        <p>Contact me</p>
        <ul class="contact-list">
          <Tooltip string-tooltip="GitHub">
            <li>
              <a href="https://github.com/dnlambb">
                <img src="/assets/social/github.svg" alt="Github">
              </a>
            </li>
          </Tooltip>
          <Tooltip string-tooltip="Linkedin">
            <li>
              <a href="https://www.linkedin.com/in/daniel-cordero-mel%C3%A9ndez-528b11224/">
                <img src="/assets/social/linkedin.svg" alt="Linkedin">
              </a>
            </li>
          </Tooltip>
          <Tooltip string-tooltip="Email">
            <li>
              <a href="mailto:dnlambb@writeme.com?Subject=Hello,%20just%20in%20case%20it%20is%20more%20comfortable%20for%20you,%20you%20can%20also%20write%20to%20me%20in%20Spanish.">
                <img src="/assets/social/email.svg" alt="Email">
              </a>
            </li>
          </Tooltip>
        </ul>
      </div>
      <picture>
        <img class="mockup" src="/public/assets/programming.svg" alt="working illustration">
      </picture>
    </section>
  </main>
</MainLayout>

<style lang="scss">
@import "../styles/colors.scss";
main {
  width: 100%;
  padding: 6.25rem 1.25rem;
  background: url("/public/assets/wave.svg") no-repeat center;
	background-size: cover;

  h1 {
    color: $primary;
    text-align: center;
    margin: 0 0 2.5rem;
  }

  section {
    p {
      margin: 0 auto;
      max-width: 25rem;
      text-align: center;
    }
    .contact-list {
      width: fit-content;
      margin: 1.25rem auto 2.5rem;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      place-content: center;
      gap: 2.5rem;
      img {
        width: 50px;
      }
    }
    picture {
      display: flex;
      .mockup {
        margin: 0 auto;
        width: 240px;
        object-fit: fill;
      }
    }
  }
}
@media (min-width: 425px) {
  main section picture .mockup {
    width: 320px;
  }
}

@media (min-width: 880px) {
  main {
    section {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;

      .contact-list img{
        width: 60px;
      }

      picture .mockup{
        width: 400px;
      }
    }
  }
}
</style>