---
import MainLayout from "../layouts/MainLayout.astro";
import CardEducation from "../components/CardEducation.vue";

const education = {
  Inacap: {
    title: "Inacap",
    subtitle: "Analist Programming",
    date: "In process",
    urlImg: "/assets/education/inacap.png",
    alt: "Inacap logo",
  },
  PythonBasic: {
    title: "Python Basic",
    subtitle: "Backend Development",
    date: "November 23, 2021",
    urlImg: "/assets/education/certificate-python-basic.png",
    alt: "Certificate of Python Basic, Platzi",
  },
  JavascriptBasic: {
    title: "JavaScript Basic",
    subtitle: "Frontend/Backend Development",
    date: "April 29, 2022",
    urlImg: "/assets/education/certificate-basic-javascript.png",
    alt: "Certificate of JavaScript Basic, Platzi",
  },
  EcmaScript6: {
    title: "ECMASCRIPT 6+",
    subtitle: "Frontend/Backend Development",
    date: "May 05, 2022",
    urlImg: "/assets/education/certificate-ecmascript-6.png",
    alt: "Certificate of ECMASCRIPT 6+, Platzi",
  },
  FrontendDeveloper: {
    title: "Frontend Developer",
    subtitle: "Frontend Development",
    date: "April 29, 2022",
    urlImg: "/assets/education/certificate-frontend-developer.png",
    alt: "Certificate of Frontend Developer, Platzi",
  },
  FrontendPractical: {
    title: "Frontend Practical",
    subtitle: "Frontend Development",
    date: "April 29, 2022",
    urlImg: "/assets/education/certificate-frontend-developer-practical.png",
    alt: "Certificate of Frontend Developer Practical, Platzi",
  },
  HtmlCss: {
    title: "Definitive Html Css",
    subtitle: "Frontend Development",
    date: "May 20, 2022",
    urlImg: "/assets/education/certificate-html-css.png",
    alt: "Certificate of html and css, Platzi",
  },
  DesignDevelopers: {
    title: "Design for Developers",
    subtitle: "Frontend Development",
    date: "March 20, 2022",
    urlImg: "/assets/education/certificate-design-developers.png",
    alt: "Certificate of Design for Developers, Platzi",
  },
  MobileFirst: {
    title: "Mobile First",
    subtitle: "Responsive Design",
    date: "May 19, 2022",
    urlImg: "/assets/education/certificate-mobile-first.png",
    alt: "Certificate of Mobile First, Platzi",
  },
  Bootstrap4: {
    title: "Bootstrap",
    subtitle: "Css Framework",
    date: "March 05, 2022",
    urlImg: "/assets/education/certificate-bootstrap.png",
    alt: "Certificate of Bootstrap, Platzi",
  },
  NPM: {
    title: "NPM",
    subtitle: "Management of dependencies and packages",
    date: "May 22, 2022",
    urlImg: "/assets/education/certificate-npm.png",
    alt: "Certificate of NPM, Platzi",
  },
};
---

<MainLayout
  lang="en"
  title="Daniel Cordero • Education"
  description="I'm Daniel Cordero, Frontend Developer. Here you can find information about my education and certificates."
>
  <main>
    <h1>Education and certificates</h1>
    <p>
      Here you can see what I have studied, where and when I have finished it.
    </p>
    <div class="education-container__cards-container">
      <CardEducation cardData={education} />
    </div>
  </main>
</MainLayout>

<style lang="scss">
@import "../styles/colors.scss";

main {
  width: 100%;
  padding: 8rem 1.25rem 6.25rem;

  h1 {
    text-align: center;
    color: $primary;
  }
  p {
    margin: 2.5rem auto;
    text-align: center;
  }
  .education-container {
    width: 100%;
    padding: 6.25rem 1.25rem 3.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    p {
      max-width: 37.5rem;
      margin: 0 auto;
    }

    &__cards-container {
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      gap: 1.25rem;
    }
  }
}
@media (min-width: 680px) {
  main {
    .education-container {
      &__cards-container {
        margin: 0 auto;
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(2, auto);
      }
    }
  }
}
@media (min-width: 950px) {
  main {
    .education-container {
      &__cards-container {
        grid-template-columns: repeat(3, auto);
      }
    }
  }
}
@media (min-width: 1300px) {
  main {
    .education-container {
      &__cards-container {
        grid-template-columns: repeat(2, auto);
      }
    }
  }
}
@media (min-width: 2560px) {
  main {
    .education-container {
      &__cards-container {
        grid-template-columns: repeat(3, auto);
      }
    }
  }
}
</style>
