---
import MainLayout from "../layouts/MainLayout.astro";
import Tooltip from "../components/Tooltip.vue";
import CardProject from "../components/CardProject.vue";
import About from "../components/About.astro";
import Knowledge from "../components/Knowledge.astro";
import Hobbies from "../components/Hobbies.astro";
import Contact from "../components/Contact.astro";

const pinProjects = {
	GithubUserSearch: {
    tag: "React - Tailwind",
    title: "GitHub User Search",
    desc: "Consuming a GitHub API to get user profile data",
    urlImg: "/assets/projects/github-user-search.png",
    urlRepo: "https://github.com/dnlambb/github-user-search",
    urlWeb: "https://dnlambb.github.io/github-user-search/"
  },
  FyloLanding: {
    tag: "Html - Sass",
    title: "Fylo Landing Page",
    desc: "Building a landing page for the Frontend Mentor Challenge",
    urlImg: "/assets/projects/fylo-landing.jpg",
    urlRepo: "https://github.com/dnlambb/fylo-landing-page",
    urlWeb: "https://dnlambb.github.io/fylo-landing-page/",
  }
}
const hobbies = {
  item1: "I like to read",
  item2: "I love volleyball",
}
---

<MainLayout
  lang="en"
  title="Daniel Cordero • @dnlambb"
  description="I'm Daniel Cordero, Frontend Developer. Chile."
>
  <main>
    <section class="home-header">
			<h1 class="text-glitch" text-glitch="Daniel Cordero">Daniel Cordero</h1>
      <h2>Frontend Developer</h2>
			<p>Hello, this is my portfolio where you can see my projects and know a little about me</p>
      <ul class="list-social">
        <Tooltip stringTooltip="GitHub">
          <li>
            <a href="https://github.com/dnlambb">
              <img src="/assets/social/github.svg" alt="Github" />
            </a>
          </li>
        </Tooltip>
        <Tooltip stringTooltip="Linkedin">
          <li>
            <a
              href="https://www.linkedin.com/in/daniel-cordero-mel%C3%A9ndez-528b11224/"
            >
              <img src="/assets/social/linkedin.svg" alt="Linkedin" />
            </a>
          </li>
        </Tooltip>
      </ul>
			<div class="scroll-down-container">
				<a href="#pinProjects">
					<img class="down-arrow" src="/assets/down-arrow.svg" alt="down arrow">
					<img class="down-arrow" src="/assets/down-arrow.svg" alt="down arrow">
				</a>
			</div>
    </section>
		<section id="pinProjects" class="home-pin-projects">
			<h2>Projects</h2>
			<div class="home-pin-projects__container-projects">
				<CardProject project={pinProjects}/>
			</div>
			<a href="/projects" class="button-primary" button-glitch="Seeall">See all</a>
		</section>
		<About 
			about="I am a Frontend developer. I focus on creating websites. I am passionate about programming. Now I'm studying Analyst Programmer at Inacap university. And I also enjoy learning in an autodidact way."
      btnText="Resume"
		/>
		<Hobbies heading="Hobbies" hobbies={hobbies} />
		<Knowledge heading="Knowledge" headingOther="Others" />
		<Contact title="Let's talk?" paragraph="Contact me in the following ways" />
  </main>
</MainLayout>

<style lang="scss">
@import "../styles/colors.scss";
@import "../styles/text-glitch.scss";
@import "../styles/button-primary.scss";
@import "../styles/scroll-down.scss";
main {
	width: 100%;
	.home-header {
		width: 100%;
		min-height: 100vh;
		padding: 1.25rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h1 {
			width: fit-content;
			margin: 0 auto;
			text-align: center;
			color: $primary;
			user-select: none;
		}
		h2 {
			width: fit-content;
			margin: 0.625rem auto 3rem;
			text-align: center;
			color: $secondary;
		}
		p {
			margin: 0 auto 4rem;
			max-width: 50ch;
			text-align: center;
			line-height: 2rem;
		}
		.list-social {
			width: fit-content;
			margin: 0 auto;
			list-style: none;
			display: flex;
			gap: 1.875rem;
			img {
				width: 50px;
			}
		}
		.scroll-down-container {
			margin: 1.25rem auto 0;
			width: 100px;
			height: 100px;
			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				.down-arrow {
					position: absolute;
					width: 40px;
				}
			}
		}
	}
	.home-pin-projects {
		text-align: center;
		margin-top: 2rem;
		padding: 0 1.25rem 4rem;
		h2 {
			color: $primary;
		}
		&__container-projects {
			padding: 3.125rem 0;
			display: flex;
			flex-direction: column;
			gap: 2.5rem;
		}
	}
}
@media (min-width: 440px) {
	main {
		.home-header {
			h1 {
				letter-spacing: 0.625rem;
			}
		}
	}
}
@media (min-width: 1024px) {
	main {
		.home-pin-projects {
			&__container-projects {
				flex-direction: row;
			}
		}
	}
}
</style>
