---
import MainLayout from '../layouts/MainLayout.astro';
import CardLink from '../components/CardLink.astro';
---

<MainLayout 
	title="Daniel Cordero | Frontend Developer" 
	description="This is my personal website. Here you can: see my projects and education, know about me and my knowledge... ">
	<main>
		<section>
			<div class="order-reverse-items">
				<h1 class="text-glitch" text-glitch="Daniel Cordero">
					Daniel Cordero
				</h1>
				<p>Hi there, I'm</p>
			</div>
			<p>This is my personal website.<br />
				Here you can know about me, see my projects, my education, certificates
				and how to contact me.</p>
			<ul role="list" class="link-card-grid">
				<CardLink
					href="#"
					title="Documentation"
					body="Know how I built this site and the process."
				/>
				<CardLink
					href="#"
					title="Repository"
					body="The repository of this website in github."
				/>
			</ul>
		</section>
	</main>
</MainLayout>

<style lang="scss">
@import "../styles/colors.scss";
@import "../styles/text-glitch.scss";
main {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("/public/assets/wavesBgMobile.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	section {
		width: fit-content;
		padding: 2rem;
		.order-reverse-items {
			display: flex;
			flex-direction: column-reverse;
		}
		h1 {
			width: fit-content;
			margin: 0 auto;
			text-align: center;
			letter-spacing: 1rem;
			color: $orange-light;
			user-select: none;
		}
		p {
			margin-top: 6rem;
			text-align: center;
			line-height: 1.6;
		}
		.link-card-grid {
			width: fit-content;
			margin: 8rem auto 0;
			display: grid;
			grid-template-columns: repeat(1, 1fr);
		}
	}
}
@media (min-width: 768px) {
	main {
		background: url("/public/assets/wavesBgTablet.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		section {
			.link-card-grid {
				width: fit-content;
				margin-top: 8rem;
				display: grid;
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}
@media (min-width: 1040px) {
	main {
		background: url("/public/assets/wavesBgDesktop.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
}
</style>
