---
import MainLayout from "../layouts/MainLayout.astro"
import Card from "../components/CardProject.vue"

const projects = {
  GithubUserSearch: {
    tag: "React - Tailwind",
    title: "GitHub User Search",
    desc: "Consuming a GitHub API to get user profile data",
    urlImg: "/assets/projects/github-user-search.png",
    urlRepo: "https://github.com/dnlambb/github-user-search",
    urlWeb: "https://dnlambb.github.io/github-user-search/"
  },
  FyloLanding: {
    tag: "Html - Sass",
    title: "Fylo Landing Page",
    desc: "Layout of a landing page based on the design of the Frontend Mentor challenge",
    urlImg: "/assets/projects/fylo-landing.jpg",
    urlRepo: "https://github.com/dnlambb/fylo-landing-page",
    urlWeb: "https://dnlambb.github.io/fylo-landing-page/",
  },
  GoogleClon: {
    tag: "Html - Css",
    title: "Google Clon",
    desc: "Layout of the Google browser design",
    urlImg: "/assets/projects/google-clon.jpg",
    urlRepo: "https://github.com/dnlambb/google-clon",
    urlWeb: "https://dnlambb.github.io/google-clon/",
  },
  TimerUnderConstruction: {
    tag: "JS - Css",
    title: "Timer Under Construction",
    desc: "Launch timer for a website under construction",
    urlImg: "/assets/projects/timer-under-construction.jpg",
    urlRepo: "https://github.com/dnlambb/timer-under-construction",
    urlWeb: "https://dnlambb.github.io/timer-under-construction/",
  },
  AsyncLanding: {
    tag: "JS - Tailwind",
    title: "Async Landing",
    desc: "Asynchronous landing page. An API is consumed to show the latest videos uploaded to Youtube.",
    urlImg: "/assets/projects/async-landing.jpg",
    urlRepo: "https://github.com/dnlambb/async-landing",
    urlWeb: "https://dnlambb.github.io/async-landing/",
  },
}
---

<MainLayout
  lang="en"
  title="Daniel Cordero • Projects"
  description="I'm Daniel Cordero, Frontend Developer. Here you can see and find information about my projects."
>
  <main>
    <h1>Projects</h1>
    <section class="cards-grid">
      <Card project={projects}/>
    </section>
    <a class="button-primary" href="https://github.com/dnlambb?tab=repositories" button-glitch="Moreprojects">More projects</a>
  </main>
</MainLayout>

<style lang="scss">
@import "../styles/colors.scss";
@import "../styles/button-primary.scss";

main {
  width: 100%;
  padding: 8rem 1.25rem 6.25rem;
  display: flex;
  flex-direction: column;

  h1 {
    color: $primary;
    text-align: center;
  }
  .cards-grid {
    margin: 3.75rem 0 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}
@media (min-width: 768px) {
  main {
    .cards-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (min-width: 2000px) {
  main {
    .cards-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
</style>