---
export interface Props{
  message: string
}
const { message } = Astro.props;
---

<section>
  <img src="/assets/profile.png" alt="profile image of me" />
  <p>
    { message }
  </p>
</section>
<style lang="scss">
  @import "../styles/colors.scss";
  @import "../styles/button-primary.scss";

  section {
    max-width: 60rem;
    margin: 2.5rem auto 5rem;
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    img {
      width: 200px;
      margin: 0 auto;
      border-radius: 100%;
      object-fit: cover;
      border: 2px solid $secondary;
    }

    p {
      line-height: 1.875rem;
      text-align: center;
    }
  }
  @media (min-width: 425px) {
    section {
      p {
        text-align: start;
      }
    }
  }
  @media (min-width: 1440px) {
    section {
      max-width: 100%;
      place-content: center;
      display: grid;
      grid-template-columns: 18.75rem 37.5rem;
      grid-template-areas:
        "img text"
        "img text";
      gap: 1.25rem 0;
      img {
        grid-area: img;
        width: 220px;
      }
      p {
        grid-area: text;
        align-self: center;
      }
    }
  }
</style>
