---
export interface Props{
  title: string,
  sentence1: string,
  sentence2: string,
  subtitle: string,
  hobbies: object,
}
const { title, sentence1, sentence2, subtitle, hobbies } = Astro.props;
---

<section id="about">
  <div class="about-card">
    <h2>{title}</h2>
    <p>
      { sentence1 }
    </p>
    <p>
      { sentence2 }
    </p>
    <h3>{subtitle}</h3>
    <ul>
      <li>
        <img src="/assets/hobbies/book.png" alt="book" />
        {hobbies.item1}
      </li>
      <li>
        <img src="/assets/hobbies/volleyball.png" alt="ball of volleyball" />
        {hobbies.item2}
      </li>
    </ul>
  </div>
</section>

<style lang="scss">
@import "../styles/colors.scss";
@import "../styles/button-primary.scss";

section {
  padding: 4rem 1.25rem;
  .about-card {
    max-width: 37.5rem;
    margin: 2rem auto;
    padding: 3rem 1.25rem 3rem 2rem;
    display: flex;
    justify-items: self-start;
    flex-direction: column;
    gap: 1.875rem;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background: linear-gradient(145deg, #17191d, #1c1e22);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
    
    h2 {
      color: $primary;
    }
    p {
      line-height: 1.5;
    }
    h3 {
      color: $primary;
    }
    ul {
      max-width: max-content;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          width: 40px;
        }
      }
      li:first-child {
        margin: 0 0 0.625rem;
      }
    }
  }
}
@media (min-width: 540px) {
  section .about-card ul {
    display: flex;
    gap: 3rem;
    li:first-child {
        margin: 0;
      }
    li {
      img {
        width: 54px;
      }
    }
  }
}
@media (min-width: 1024px) {
  section .about-card {
    gap: 2.5rem 0;
    p {
      grid-area: text;
      align-self: center;
    }
  }
}
</style>