---
import Tooltip from './Tooltip.vue';
export interface Props{
  about: string,
  btnText: string
}
const { about, btnText } = Astro.props;
---

<section>
  <img class="profile" src="/public/assets/profile.png" alt="profile image of me" />
  <p>
    { about }
  </p>
  <a href="/public/assets/cv-frontend.pdf" class="button-primary resume" button-glitch={btnText}>{btnText}</a>
  <Tooltip string-tooltip="Linkedin">
    <a class="linkedin" href="https://www.linkedin.com/in/daniel-cordero-mel%C3%A9ndez-528b11224/">
      <img src="/assets/social/linkedin.svg" alt="Linkedin">
    </a>
  </Tooltip>
</section>
<style lang="scss">
  @import "../styles/colors.scss";
  @import "../styles/button-primary.scss";

  section {
    max-width: 37.5rem;
    margin: 5rem auto;
    padding: 2rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    border-radius: 40px;
    background: linear-gradient(145deg, #17191d, #1c1e22);
    box-shadow:  40px 40px 0px #181a1d, -40px -40px 0px #1c1e23;
    .profile {
      width: 200px;
      margin: 0 auto;
      object-fit: cover;
      border-radius: 100%;
    }
    p {
      margin: 0 auto;
      line-height: 1.875rem;
      text-align: center;
    }
    span {
      margin: 0 auto;
      .linkedin {
        width: fit-content;
        img {
          width: 50px;
        }
      }
    }
  }
  @media (min-width: 425px) {
    section {
      p {
        text-align: start;
      }
    }
  }
  @media (min-width: 1024px) {
    section {
      max-width: fit-content;
      display: grid;
      place-content: center;
      align-items: center;
      grid-template-columns: 18.75rem 18.75rem 18.75rem;
      grid-template-areas:
        "img text text"
        "img text text"
        "img button linkedin";
      gap: 1.25rem 0;
      .profile {
        grid-area: img;
        width: 220px;
      }
      p {
        grid-area: text;
        align-self: center;
      }
      .resume {
        grid-area: button;
      }
      .linkedin {
        grid-area: linkedin;
      }
    }
  }
</style>
