---
import Tooltip from './Tooltip.vue';
export interface Props{
  title: string,
  about: string,
  btnText: string
}
const { title, about, btnText } = Astro.props;
---

<section id="about">
  <h2>{title}</h2>
  <div class="about-card">
    <img class="profile" src="/assets/profile.jpeg" alt="profile" />
    <p>
      { about }
    </p>
    <a href="/assets/Daniel Cordero CV.pdf" class="button-primary resume" button-glitch={btnText}>{btnText}</a>
    <div class="social-container">
      <Tooltip stringTooltip="Linkedin">
        <a class="linkedin" href="https://www.linkedin.com/in/daniel-cordero-mel%C3%A9ndez/">
          <img src="/assets/social/linkedin.svg" alt="Linkedin">
        </a>
      </Tooltip>
      <Tooltip stringTooltip="GitHub">
        <a class="github" href="https://github.com/dnlambb">
          <img src="/assets/social/github.svg" alt="GitHub">
        </a>
      </Tooltip>
    </div>
  </div>
</section>

<style lang="scss">
@import "../styles/colors.scss";
@import "../styles/button-primary.scss";

section {
  padding: 4rem 1.25rem;
  h2 {
    margin-bottom: 4rem;
    text-align: center;
    color: $primary;
  }
  .about-card {
    max-width: 37.5rem;
    margin: 2rem auto;
    padding: 2rem 1.25rem;
    display: flex;
    place-items: center;
    flex-direction: column;
    gap: 1.875rem;
    border-radius: 40px;
    background: linear-gradient(145deg, #17191d, #1c1e22);
    box-shadow:  40px 40px 0px #181a1d, -40px -40px 0px #1c1e23;
    .profile {
      width: 160px;
      margin: 0 auto;
      object-fit: cover;
      border-radius: 100%;
    }
    p {
      margin: 0 auto;
      line-height: 1.875rem;
      text-align: center;
    }
    .social-container {
      display: flex;
      gap: 1.25rem;
      :is(.linkedin, .github) {
        width: fit-content;
        img {
          width: 50px;
        }
      }
    }
  }
}
@media (min-width: 425px) {
  section .about-card p {
      text-align: start;
  }
}
@media (min-width: 1024px) {
  section .about-card {
    max-width: fit-content;
    display: grid;
    place-content: center;
    align-items: center;
    grid-template-columns: 18.75rem 18.75rem 18.75rem;
    grid-template-areas:
      "img text text"
      "img text text"
      "img button social";
    gap: 1.25rem 0;
    .profile {
      grid-area: img;
      width: 200px;
    }
    p {
      grid-area: text;
      align-self: center;
    }
    .resume {
      grid-area: button;
    }
    .social-container {
      grid-area: social;
    }
  }
}
</style>
