---
import Tooltip from "./Tooltip.vue";

export interface Props {
  heading: string;
  headingOther: string;
}
const { heading, headingOther } = Astro.props;
---

<section>
  <h2>{heading}</h2>
  <div class="frontend-container">
    <h3>Frontend</h3>
    <div class="img-container">
      <Tooltip stringTooltip="HTML">
        <img src="/assets/knowledge/html.svg" alt="Html">
      </Tooltip>
      <Tooltip stringTooltip="CSS">
        <img src="/assets/knowledge/css.svg" alt="CSS">
      </Tooltip>
      <Tooltip stringTooltip="JavaScript">
        <img src="/assets/knowledge/javascript.svg" alt="JavaScript">
      </Tooltip>
      <Tooltip stringTooltip="React">
        <img src="/assets/knowledge/react.svg" alt="React">
      </Tooltip>
      <Tooltip stringTooltip="Vue">
        <img src="/assets/knowledge/vue.svg" alt="Vue">
      </Tooltip>
      <Tooltip stringTooltip="Tailwind">
        <img src="/assets/knowledge/tailwindcss.svg" alt="Tailwind">
      </Tooltip>
      <Tooltip stringTooltip="Sass">
        <img src="/assets/knowledge/sass.svg" alt="Sass">
      </Tooltip>
      <Tooltip stringTooltip="Bootstrap">
        <img src="/assets/knowledge/bootstrap.svg" alt="Bootstrap">
      </Tooltip>
      <Tooltip stringTooltip="Astro">
        <img src="/assets/knowledge/astro.svg" alt="Astro">
      </Tooltip>
    </div>
  </div>
  <div class="backend-container">
    <h3>Backend</h3>
    <div class="img-container">
      <Tooltip stringTooltip="MySQL">
        <img src="/assets/knowledge/mysql.svg" alt="MySQL">
      </Tooltip>
      <Tooltip stringTooltip="Oracle">
        <img src="/assets/knowledge/oracle.svg" alt="Oracle">
      </Tooltip>
      <Tooltip stringTooltip="Mongodb">
        <img src="/assets/knowledge/mongodb.svg" alt="Mongodb">
      </Tooltip>
      <Tooltip stringTooltip="Python">
        <img src="/assets/knowledge/python.svg" alt="Python">
      </Tooltip>
    </div>
  </div>
  <div class="others-container">
    <h3>{headingOther}</h3>
    <div class="img-container">
      <Tooltip stringTooltip="Git">
        <img src="/assets/knowledge/git.svg" alt="Git">
      </Tooltip>
      <Tooltip stringTooltip="GitHub">
        <img src="/assets/knowledge/github.svg" alt="GitHub">
      </Tooltip>
      <Tooltip stringTooltip="NPM">
        <img src="/assets/knowledge/npm.svg" alt="Npm">
      </Tooltip>
      <Tooltip stringTooltip="Cypress">
        <img src="/assets/knowledge/cypress.svg" alt="Cypress">
      </Tooltip>
    </div>
  </div>
</section>

<style lang="scss">
@import "../styles/colors.scss";

section {
  max-width: 800px;
  margin: 5rem auto 0;
  padding: 0 1.25rem;
  h2 {
    color: $primary;
    text-align: center;
  }
  .frontend-container,
  .backend-container,
  .others-container {
    width: 100%;

    h3 {
      text-align: center;
      margin: 2.5rem 0;
    }
    .img-container {
      display: grid;
      place-content: center;
      grid-template-columns: repeat(2, auto);
      gap: 1.25rem;
      img {
        width: 60px;
      }
    }
  }
}
@media (min-width: 425px) {
  section {
    .frontend-container,
    .backend-container,
    .others-container {
      .img-container {
        grid-template-columns: repeat(3, auto);
      }  
    }
  }
}
@media (min-width: 768px) {
  section {
    display: grid;
    grid-template-areas:
    "heading heading"
    "frontend backend"
    "others others";
    h2 {
      grid-area: heading;
    }
    .frontend-container {
      grid-area: frontend;
    }
    .backend-container {
      grid-area: backend;
    }
    .others-container {
      grid-area: others;
    }
  }
}
@media (min-width: 1024px) {
  section {
    max-width: 900px;
    grid-template-areas:
    "heading heading heading"
    "frontend backend others";
  }
}
</style>