---
import MainLayout from "../../layouts/MainLayout.astro";
import About from "../../components/About.astro";
import Knowledge from "../../components/Knowledge.astro";
import RandomFacts from "../../components/RandomFacts.astro";

const randomFacts = {
  item1: "Me gusta leer",
  item2: "Amo el voleibol",
}
---

<MainLayout
  lang="es"
  title="Daniel Cordero • Sobre mí"
  description="Hola, soy Daniel Cordero, Frontend Developer. Aquí puedes encontrar información sobre mí y mi conocimiento."
>
  <main>
    <h1>Sobre mí</h1>
    <About
      about="Soy un desarrollador Frontend. Me centro en la construcción de páginas webs. Me apasiona programar. Ahora me encuentro estudiando Analista programador en la universidad Inacap. Y también disfruto formándome de manera autodidacta."
      btnText="Currículum"
    />
    <RandomFacts
      heading="Datos random sobre mí"
      randomFacts={randomFacts}
    />
    <Knowledge
      heading="Conocimientos"
      headingOther="Otros"
    />
  </main>
</MainLayout>

<style lang="scss">
@import "../../styles/colors.scss";
main {
  width: 100%;
  padding: 8rem 1.25rem 6.25rem;
  h1 {
    text-align: center;
    color: $primary;
  }
}
</style>
