---
import MainLayout from "../../layouts/MainLayout.astro";
import CardEducation from "../../components/CardEducation.vue";

const education = {
  Inacap: {
    title: "Inacap",
    subtitle: "Analista Programador",
    date: "En proceso",
    urlImg: "/assets/education/inacap.png",
    alt: "Inacap logo",
  },
  PythonBasic: {
    title: "Python básico",
    subtitle: "Desarrollo Backend",
    date: "Noviembre 23, 2021",
    urlImg: "/assets/education/certificate-python-basic.png",
    alt: "Certificado de Python Basic, Platzi",
  },
  JavascriptBasic: {
    title: "JavaScript básico",
    subtitle: "Desarrollo Frontend/Backend",
    date: "Abril 29, 2022",
    urlImg: "/assets/education/certificate-basic-javascript.png",
    alt: "Certificado de JavaScript Basic, Platzi",
  },
  EcmaScript6: {
    title: "ECMASCRIPT 6+",
    subtitle: "Desarrollo Frontend/Backend",
    date: "Mayo 05, 2022",
    urlImg: "/assets/education/certificate-ecmascript-6.png",
    alt: "Certificado de ECMASCRIPT 6+, Platzi",
  },
  FrontendDeveloper: {
    title: "Desarrollador Frontend",
    subtitle: "Desarrollo Frontend",
    date: "Abril 29, 2022",
    urlImg: "/assets/education/certificate-frontend-developer.png",
    alt: "Certificado de Frontend Developer, Platzi",
  },
  FrontendPractical: {
    title: "Frontend Práctico",
    subtitle: "Desarrollo Frontend",
    date: "Abril 29, 2022",
    urlImg: "/assets/education/certificate-frontend-developer-practical.png",
    alt: "Certificado de Frontend Developer Practical, Platzi",
  },
  HtmlCss: {
    title: "Definitivo de Html y Css",
    subtitle: "Desarrollo Frontend",
    date: "Mayo 20, 2022",
    urlImg: "/assets/education/certificate-html-css.png",
    alt: "Certificado de html and css, Platzi",
  },
  DesignDevelopers: {
    title: "Diseño para programadores",
    subtitle: "Desarrollo Frontend",
    date: "Marzo 20, 2022",
    urlImg: "/assets/education/certificate-design-developers.png",
    alt: "Certificado de Design for Developers, Platzi",
  },
  MobileFirst: {
    title: "Mobile First",
    subtitle: "Diseño responsivo",
    date: "Mayo 19, 2022",
    urlImg: "/assets/education/certificate-mobile-first.png",
    alt: "Certificado de Mobile First, Platzi",
  },
  Bootstrap4: {
    title: "Bootstrap",
    subtitle: "Css Framework",
    date: "Marzo 05, 2022",
    urlImg: "/assets/education/certificate-bootstrap.png",
    alt: "Certificado de Bootstrap, Platzi",
  },
  NPM: {
    title: "NPM",
    subtitle: "Gestión de dependencias y paquetes",
    date: "Mayo 22, 2022",
    urlImg: "/assets/education/certificate-npm.png",
    alt: "Certificado de NPM, Platzi",
  },
};
---

<MainLayout
  lang="es"
  title="Daniel Cordero • Educación"
  description="Hola, soy Daniel Cordero, Frontend Developer. Aquí puedes encontrar información sobre mi educación y certificados."
>
  <main>
    <h1>Educación y certificados</h1>
    <p>
      Aquí puedes ver que he estudiado, donde y cuando lo finalice.
    </p>
    <div class="education-container__cards-container">
      <CardEducation cardData={education} />
    </div>
  </main>
</MainLayout>

<style lang="scss">
  @import "../../styles/colors.scss";

  main {
    width: 100%;
    padding: 10rem 2rem;

    h1 {
      text-align: center;
      color: $orange-light;
    }
    p {
      margin: 4rem 0;
      text-align: center;
    }
    .education-container {
      width: 100%;
      padding: 10rem 2rem 6rem;
      display: flex;
      flex-direction: column;
      gap: 4rem;

      p {
        max-width: 60rem;
        margin: 0 auto;
      }

      &__cards-container {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 4rem;
      }
    }
  }
  @media (min-width: 680px) {
    main {
      .education-container {
        &__cards-container {
          margin: 0 auto;
          width: fit-content;
          display: grid;
          grid-template-columns: repeat(2, auto);
        }
      }
    }
  }
  @media (min-width: 950px) {
    main {
      .education-container {
        &__cards-container {
          grid-template-columns: repeat(3, auto);
        }
      }
    }
  }
  @media (min-width: 1300px) {
    main {
      .education-container {
        &__cards-container {
          grid-template-columns: repeat(2, auto);
        }
      }
    }
  }
  @media (min-width: 2560px) {
    main {
      .education-container {
        &__cards-container {
          grid-template-columns: repeat(3, auto);
        }
      }
    }
  }
</style>
