---
import MainLayout from "../../layouts/MainLayout.astro"
import Card from "../../components/CardProject.vue"

const projects = {
  FyloLanding: {
    tag: "Html - Sass",
    title: "Fylo Landing Page",
    desc: "Solución del reto de Frontend Mentor",
    urlImg: "/assets/projects/fylo-landing.jpg",
    urlRepo: "https://github.com/dnlambb/fylo-landing-page",
    urlWeb: "https://dnlambb.github.io/fylo-landing-page/",
  },
  GoogleClon: {
    tag: "Html - Css",
    title: "Google Clon",
    desc: "Clon del layout del navegador de Google",
    urlImg: "/assets/projects/google-clon.jpg",
    urlRepo: "https://github.com/dnlambb/google-clon",
    urlWeb: "https://dnlambb.github.io/google-clon/",
  },
  ApiIp: {
    tag: "JS - Pico.css",
    title: "API IP",
    desc: "Consumir una API para devolver la información del proveedor de IP",
    urlImg: "/assets/projects/api-ip.png",
    urlRepo: "https://github.com/dnlambb/API-IP",
    urlWeb: "https://dnlambb.github.io/API-IP/",
  },
  TimerUnderConstruction: {
    tag: "JS - Css",
    title: "Timer Under Construction",
    desc: "Plantilla de página web bajo construcción con temporizador",
    urlImg: "/assets/projects/timer-under-construction.jpg",
    urlRepo: "https://github.com/dnlambb/timer-under-construction",
    urlWeb: "https://dnlambb.github.io/timer-under-construction/",
  },
  AsyncLanding: {
    tag: "JS - Tailwind",
    title: "Async Landing",
    desc: "Página de inicio asíncrona del curso de Platzi",
    urlImg: "/assets/projects/async-landing.jpg",
    urlRepo: "https://github.com/dnlambb/async-landing",
    urlWeb: "https://dnlambb.github.io/async-landing/",
  },
}
---

<MainLayout
  lang="es"
  title="Daniel Cordero • Proyectos"
  description="Hola, soy Daniel Cordero, Frontend Developer. Aquí puedes ver información sobre mis proyectos."
>
  <main>
    <h1>Proyectos</h1>
    <section class="cards-grid">
      <Card project={projects}/>
    </section>
    <a class="button-primary" href="https://github.com/dnlambb?tab=repositories" button-glitch="Másproyectos">Más proyectos</a>
  </main>
</MainLayout>

<style lang="scss">
@import "../../styles/colors.scss";
@import "../../styles/button-primary.scss";

main {
  width: 100%;
  padding: 6.25rem 1.25rem;
  display: flex;
  flex-direction: column;

  h1 {
    color: $primary;
    text-align: center;
  }
  .cards-grid {
    margin: 3.75rem 0 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &__project {
      margin: 0 auto;
      width: 400px;
    }
  }

}
@media (min-width: 768px) {
  main {
    .cards-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media (min-width: 2000px) {
  main {
    .cards-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
</style>