---
import Navbar from '../components/Navbar.astro';

export interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Chivo&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="bg-blobs"></div>
		<Navbar />
    <slot />
	</body>
</html>
<style lang="scss" is:global>
@import "../styles/global.scss";
.bg-blobs {
	z-index: -1;
	width: 100%;
	height: 100vh;
	position: absolute;
	background: url("/assets/wave.svg") no-repeat center;
	background-size: cover;
}
</style>
