---
import Navbar from '../components/Navbar.astro';

export interface Props {
	title: string;
	description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description}>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Chivo&display=swap" rel="stylesheet">
	</head>
	<body>
		<Navbar />
    <slot />
	</body>
</html>
<style lang="scss" is:global>
@import "../styles/colors.scss";

$font-title: 'Andika', sans-serif;
$font-body: 'Chivo', sans-serif;

$p-width: clamp(45ch, 50%, 75ch);
$fs-sm: clamp(0.875rem, 0.8596491228070176rem + 0.08771929824561403vw, 1rem);
$fs-md: clamp(1.125rem, 1.1019122807017543rem + 0.13192982456140348vw, 1.313rem);
$fs-lg: clamp(1.25rem, 1.219298245614035rem + 0.17543859649122806vw, 1.5rem);
$fs-xl: clamp(1.75rem, 1.6732456140350878rem + 0.43859649122807015vw, 2.375rem);
$fs-xxl: clamp(2.375rem, 2.2982456140350878rem + 0.43859649122807015vw, 3rem);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
	color: $secondary;
	background: $primary;
}

body {
	background: $terciary;
	font-family: $font-body;
}

h1 {
	font-family: $font-title;
	font-size: $fs-xxl;
	font-weight: bold;
}

h2,
h3,
h4 {
  font-family: $font-title;
  font-weight: 500;
	color: $secondary;
}

p,
a,
li,
button,
small {
  font-size: $fs-md;
  font-weight: 400;
  font-family: $font-body;
	color: $secondary;
}

p {
	max-width: $p-width;
}

h2 {
  font-size: $fs-xl;
  font-weight: 500;
}

h3 {
  font-size: $fs-lg;
}

h4 {
  font-size: $fs-lg;
}

code {
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
		Bitstream Vera Sans Mono, Courier New, monospace;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #f4f4f499;
}
::-webkit-scrollbar-thumb {
  background: gray;
}
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}
</style>
