<section>
  <img src="public/assets/profile.png" alt="profile image of me" />
  <p>
    I'm a Frontend Developer from Chile. I am currently studying programming
    analyst at Inacap University. On my free days I develop personal projects
    and study as an autodidact. My current goal is to work as Frontend and
    keep expanding my knowledge.
  </p>
  <button class="button-primary" text-glitch="DonwloadCV">Download CV</button>
</section>
<style lang="scss">
@import "../styles/colors.scss";
@import "../styles/button-primary.scss";

section {
  max-width: 60rem;
  margin: 6rem auto 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  img {
    width: 20rem;
    margin: 0 auto;
    border-radius: 100%;
    object-fit: cover;
    border: 2px solid $color-text;
  }

  p {
    line-height: 3rem;
    text-align: center;
  }
}
@media (min-width: 425px) {
  section {
    p {
      text-align: start;
    }
  }
}
</style>