<section>
  <h3>Random Facts of me</h3>
  <ul>
    <li><img src="public/assets/randomFacts/dog.svg" alt="dog" /> I like dogs</li>
    <li><img src="public/assets/randomFacts/coffee.svg" alt="coffee" /> I like Coffee</li>
    <li>
      <img src="public/assets/randomFacts/volleyball.svg" alt="ball of volleyball" />
      I love Volleyball
    </li>
  </ul>
</section>
<style lang="scss">
@import "../styles/colors.scss";
section {
  width: fit-content;
  margin: 6rem auto 0;
  padding: 0 2rem;
  h3 {
    margin-bottom: 3rem;
    text-align: center;
    color: $orange-light;
  }
  ul {
    width: max-content;
    margin: 0 auto;
    list-style: none;

    li {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      gap: 2rem;

      img {
        width: 4rem;
      }
    }
  }
}
@media (min-width: 768px) {
  section {
    ul {
      li {
        margin: 2rem 0;
        img {
          width: 5rem;
        }
      }
    }
  }
}
</style>